* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;
  background: #26292c;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: orange;
  padding: 10px;
  font-size: 23px;
}
